USE [master]
GO
/****** Object:  Database [HouseRental]    Script Date: 3/20/2024 11:36:07 AM ******/
CREATE DATABASE [HouseRental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HouseRental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\HouseRental.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HouseRental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\HouseRental_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HouseRental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HouseRental]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/20/2024 11:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 3/20/2024 11:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](255) NOT NULL,
	[description] [nvarchar](2048) NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
	[price] [float] NOT NULL,
	[filePath] [varchar](max) NOT NULL,
	[userId] [int] NOT NULL,
	[paymentId] [int] NOT NULL,
	[houseId] [int] NOT NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House]    Script Date: 3/20/2024 11:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [float] NOT NULL,
	[userId] [int] NOT NULL,
	[categoryId] [int] NOT NULL,
	[description] [nvarchar](2048) NOT NULL,
	[isTenanted] [bit] NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseService]    Script Date: 3/20/2024 11:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseService](
	[houseId] [int] NOT NULL,
	[serviceId] [int] NOT NULL,
 CONSTRAINT [PK_HouseService] PRIMARY KEY CLUSTERED 
(
	[houseId] ASC,
	[serviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 3/20/2024 11:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[amount] [float] NOT NULL,
	[tid] [varchar](255) NULL,
	[description] [varchar](255) NULL,
	[userId] [int] NOT NULL,
	[when] [datetime] NULL,
	[isPaid] [bit] NOT NULL,
 CONSTRAINT [PK_payments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 3/20/2024 11:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](2048) NOT NULL,
	[userId] [int] NOT NULL,
	[status] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/20/2024 11:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ROle] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 3/20/2024 11:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](2048) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 3/20/2024 11:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Id] [int] NOT NULL,
	[Tid] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NULL,
	[CusumBalance] [decimal](18, 2) NULL,
	[When] [nvarchar](100) NULL,
	[BankSubAccId] [nvarchar](100) NULL,
	[SubAccId] [nvarchar](100) NULL,
	[VirtualAccount] [nvarchar](100) NULL,
	[VirtualAccountName] [nvarchar](100) NULL,
	[CorresponsiveName] [nvarchar](100) NULL,
	[CorresponsiveAccount] [nvarchar](100) NULL,
	[CorresponsiveBankId] [nvarchar](100) NULL,
	[CorresponsiveBankName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/20/2024 11:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](255) NOT NULL,
	[lastName] [nvarchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[phoneNumber] [varchar](255) NOT NULL,
	[dob] [date] NOT NULL,
	[identificationNumber] [varchar](255) NOT NULL,
	[isActive] [bit] NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[refreshToken] [nvarchar](100) NULL,
	[refreshTokenExpiryTime] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 3/20/2024 11:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[userId] [int] NOT NULL,
	[roleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([id], [name]) VALUES (1, N'Duplex')
INSERT [dbo].[Categories] ([id], [name]) VALUES (2, N'Single-Family Home')
INSERT [dbo].[Categories] ([id], [name]) VALUES (3, N'Multi-Family Home')
GO
SET IDENTITY_INSERT [dbo].[House] ON 

INSERT [dbo].[House] ([id], [name], [price], [userId], [categoryId], [description], [isTenanted]) VALUES (1, N'P001', 125, 2, 1, N'The first house in 1st floor', 0)
SET IDENTITY_INSERT [dbo].[House] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([id], [name], [amount], [tid], [description], [userId], [when], [isPaid]) VALUES (2, N'T0324 U1 H1', 3000000, NULL, NULL, 1, CAST(N'2022-12-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[payments] ([id], [name], [amount], [tid], [description], [userId], [when], [isPaid]) VALUES (3, N'giao dich thu nghiem', 4500000, NULL, N'tien nha thang 12 1 2', 1, CAST(N'2024-03-20T03:33:03.140' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([id], [name]) VALUES (2, N'Tenant')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Transaction] ([Id], [Tid], [Description], [Amount], [CusumBalance], [When], [BankSubAccId], [SubAccId], [VirtualAccount], [VirtualAccountName], [CorresponsiveName], [CorresponsiveAccount], [CorresponsiveBankId], [CorresponsiveBankName]) VALUES (0, N'MA_GIAO_DICH_THU_NGHIEM', N'giao dich thu nghiem', CAST(599000.00 AS Decimal(18, 2)), NULL, N'2024-03-20 03:33:00', NULL, N'88888888', N'', N'', N'NGUYEN VAN A', N'8888888888', N'970415', N'VietinBank')
INSERT [dbo].[Transaction] ([Id], [Tid], [Description], [Amount], [CusumBalance], [When], [BankSubAccId], [SubAccId], [VirtualAccount], [VirtualAccountName], [CorresponsiveName], [CorresponsiveAccount], [CorresponsiveBankId], [CorresponsiveBankName]) VALUES (6067875, N'FT24075900398068', N'NGUYEN VAN CAO KY Chuyen tien - Magiao dich/ Trace563622 Trace 563622', CAST(5000.00 AS Decimal(18, 2)), NULL, N'2024-03-15 05:23:04', NULL, N'0152345688888', N'', N'', N'', N'', N'', N'')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [firstName], [lastName], [email], [phoneNumber], [dob], [identificationNumber], [isActive], [password], [username], [refreshToken], [refreshTokenExpiryTime]) VALUES (1, N'thanh', N'minh', N'thanh@gmail.com', N'123456789', CAST(N'2002-11-02' AS Date), N'123456546574', 1, N'123', N'mkboss', N'ESLis2z2NOJn0rU8ZruEdMc7KpgbqoOdJ7pm2ztjre+0qYnfzETflxNXjuxoBZrrgq3mTlPiM/ynLoyf1M4o7A==', CAST(N'2024-03-27T04:40:34.660' AS DateTime))
INSERT [dbo].[User] ([id], [firstName], [lastName], [email], [phoneNumber], [dob], [identificationNumber], [isActive], [password], [username], [refreshToken], [refreshTokenExpiryTime]) VALUES (2, N'viet', N'hoang', N'viet@gmail.com', N'123456789', CAST(N'2002-11-02' AS Date), N'123456546574', 1, N'123', N'viet', N'aK0U/URyHdqfJXpKD3A5+/IQOj9Yn19/dvb3sRC/Tw6mhcJ6eklegidU71TKb/kQ6y3H5oBQI9+S/4PhMQwApg==', CAST(N'2024-03-27T01:18:15.543' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserRole] ([userId], [roleId]) VALUES (1, 1)
INSERT [dbo].[UserRole] ([userId], [roleId]) VALUES (2, 2)
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_House] FOREIGN KEY([houseId])
REFERENCES [dbo].[House] ([id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_House]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_payments] FOREIGN KEY([paymentId])
REFERENCES [dbo].[payments] ([id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_payments]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_User]
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_categories1] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_categories1]
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_User]
GO
ALTER TABLE [dbo].[HouseService]  WITH CHECK ADD  CONSTRAINT [FK_HouseService_House] FOREIGN KEY([houseId])
REFERENCES [dbo].[House] ([id])
GO
ALTER TABLE [dbo].[HouseService] CHECK CONSTRAINT [FK_HouseService_House]
GO
ALTER TABLE [dbo].[HouseService]  WITH CHECK ADD  CONSTRAINT [FK_HouseService_Service] FOREIGN KEY([serviceId])
REFERENCES [dbo].[Service] ([id])
GO
ALTER TABLE [dbo].[HouseService] CHECK CONSTRAINT [FK_HouseService_Service]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payments_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payments_User]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_User]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRole_User]
GO
USE [master]
GO


USE HouseRental;
GO
CREATE TABLE [dbo].[Permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[RolePermission](
	[roleId] [int] NOT NULL,
	[permissionId] [int] NOT NULL,
 CONSTRAINT [PK_RolePermission] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC,
	[permissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Role]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Permission] FOREIGN KEY([permissionId])
REFERENCES [dbo].[Permissions] ([id])
GO
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Permission]
GO


USE HouseRental;
GO
CREATE TABLE [dbo].[Note](
    [id] INT IDENTITY(1,1) NOT NULL,
    [houseId] INT NOT NULL,
    [note] NVARCHAR(MAX) NOT NULL,
    [description] NVARCHAR(MAX) NULL,
    [createDate] DATETIME NOT NULL,
 CONSTRAINT [PK_Note] PRIMARY KEY CLUSTERED 
(
    [id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Note] ADD CONSTRAINT [DF_Note_createDate] DEFAULT (GETDATE()) FOR [createDate]
GO

ALTER TABLE [dbo].[Note]
ADD CONSTRAINT [FK_Note_House] FOREIGN KEY ([houseId]) 
REFERENCES [dbo].[House] ([id])
ON DELETE CASCADE
GO


-- Insert into Houses
INSERT INTO House (CategoryId, Description, IsTenanted, Name, Price, UserId) VALUES 
(1, 'A nice apartment with sea view', 0, 'Sea View Apartment', 500, 1),
(1, 'Sunny Apartment', 0, 'A beautiful apartment with 2 bedrooms and a sunny balcony.', 1500, 1),
(2, 'Cozy Cottage', 0, 'A cozy cottage in the countryside with a large garden.', 500, 2)
-- Notes for a house
INSERT INTO Note (CreateDate, Description, HouseId, Note) VALUES 
(GETDATE(), 'Initial inspection notes', 1, 'All conditions are good'),
(GETDATE(), 'Note for Sunny Apartment', 2, 'The tenant reported a leaking faucet.'),
(GETDATE(), 'Note for Cozy Cottage', 1, 'Garden maintenance is required.');
